<!DOCTYPE html>
<html lang="en">
<head>
    {% extends "base.html" %}
    <meta charset="UTF-8">
    <title>CatLiker</title>
</head>
<body>
{% block content %}
    <a href="{% url 'home' %}">Home</a>
    {% if user.is_authenticated %}
        User:{{ user.username }}!
        <p><a href="{% url 'logout' %}">Log Out</a></p>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">Log In</a> |
        <a href="{% url 'accounts:signup' %}">Sign Up</a>
    {% endif %}

    {% for cat in cats %}
        <div>
            <p>Points: {{ cat.points }}</p>
            <p> Rank: {{ cat.rank }}</p>
            <img src="{{ cat.link }}" alt="" width="200" height="200"/>
        </div>
    {% endfor %}
{% endblock %}
</body>
</html>