<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% extends "base.html" %}
</head>
<body>

{% block content %}
    {% if user.is_authenticated %}
        Hi <p><a href="{% url 'accounts:profile' user.id  %}">{{user.username}}</a></p>
        <p><a href="{% url 'logout' %}">Log Out</a></p>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">Log In</a> |
        <a href="{% url 'accounts:signup' %}">Sign Up</a>
    {% endif %}
    <a href="{% url 'random_cat' %}">random cat</a>
    <a href="{% url 'cat_list' %}">cat list</a>
    <a href="{% url 'accounts:profile_list' %}">profile list</a>

{% endblock %}
</body>
</html>