<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
    {% for following in profile.follows.all %}
        <li>
            <a href="{% url 'accounts:profile_list' following.id %}">
                {{ following }}
            </a>
        </li>
    {% endfor %}
</ul>

<ul>
{% for follower in profile.followed_by.all %}
    <li>
        <a href="{% url 'accounts:profile' follower.id %}">
            {{ follower }}
        </a>
    </li>
{% endfor %}
</ul>
<form method="post">
    {% csrf_token %}
    <div class="buttons has-addons">
    {% if profile in user.profile.follows.all %}
        <button class="button is-success is-static">Follow</button>
        <button class="button is-danger" name="follow" value="unfollow">
            Unfollow
        </button>
    {% else %}
        <button class="button is-success" name="follow" value="follow">
            Follow
        </button>
        <button class="button is-danger is-static">Unfollow</button>
    {% endif %}
    </div>
</form>

</body>
</html>