<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <a> Username: {{ profile.username }}</a>
    <p> Rank: {{ profile.rank }}</p>
    <p> Points: {{ profile.points }}</p>
</div>

<a> Liked cats:</a>
<ul>
    {% for cat in profile.liked_cats.all %}
        <li>
            <a href="{% url 'certain_cat' cat.id %}">
                {{ cat.id }}
            </a>
        </li>
    {% endfor %}
</ul>

<a> Disliked cats:</a>
<ul>
    {% for cat in profile.disliked_cats.all %}
        <li>
            <a href="{% url 'certain_cat' cat.id %}">
                {{ cat.id }}
            </a>
        </li>
    {% endfor %}
</ul>


</body>
</html>